
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    
}
.container{
    width: 1340px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
    padding: 0 15px;
    align-items: center;
}
.flex-item1{
    width: 8.33%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item2{
    width: 16.66%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item3{
    width: 25%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item4{
    width: 33.33%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item5{
    width: 41.66%;
    flex: 0 0 auto;
    padding: 0 15px;
   
}
.flex-item6{
    width: 50%;
    flex: 0 0 auto;
    padding: 0 15px;
}

.flex-item7{
    width: 58.33%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item8{
    width: 66.66%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item9{
    width: 75%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item10{
    width: 83.33%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item11{
    width: 91.66%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.flex-item12{
    width: 100%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.arrow i{
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid #29cc61;
    background-color: #29cc61;
    border-radius: 50%;
    align-items: center;
    padding: 8px 10px;
    position: fixed;
    top: 690px;
    left: 97%;
    font-size: 20px;
    font-weight: 100;

}
.header{
    padding:20px 0;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}
.mentor{
    color: #5fcf80;
    font-weight: 800;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.get a{
    color: white;
    border: 1px solid #5fcf80;
    padding: 10px 36px;
    background-color: #5fcf80;
    border-radius: 30px;
    font-size: 17px;
    text-decoration: none;
}
.nav-bar ul{
    display: flex;
    justify-content: end;

}
.nav-bar li {
    list-style-type: none;
    font-size: 15px;
}
.nav-bar a{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}
.nav-bar a:hover{
    color: #29cc61;
}
.get a{
    color:white;
    text-decoration: none;
    padding-left: 31px;
    font-family: 'Open Sans', sans-serif;
}
.get a:hover{
    background-color: #3ac162;
}
.banner{
    padding: 80px 0;
    background: linear-gradient( #07060696, #07060696), url(../image/hero-bg.jpg) fixed;
    background-size: cover;
}
.banner h1{
    font-family: 'Poppins', sans-serif;
}
.banner p{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}
.pic{
    height: 450px;
     display: flex;
}

.learning {
    height: 200px;
    margin-top: 150px;
    font-size: 30px;
    color: white;
}
.learning a{
    color: white;
    border: 1px solid white;
    padding: 10px 36px;
    border-radius: 30px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.learning a:hover{
    border: 1px solid #29cc61;
    background-color: #29cc61;
    color: white;
    
}

.one{
    padding: 60px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.one h3{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
}
.one1 p{
    font-size: 14px;
    color: #7a7a7a;
    
}
.one1{
    height: 400px;
    margin-left: 5px;
    font-size: 18px;
}
.one1 i{
    color: #5fcf80;
    font-size: 20px;
    font-weight: 100;
    transform: translateY(0px);
    padding-right: 4px;
}
.one1 ul{
    text-decoration: none;
}
.one1 li{
    list-style-type: none;
    font-style: normal;
    color: #7a7a7a;
    font-size: 16px;
}
.one2{
    background-image: url("../image/about.jpg");
    background-size: cover;
    background-color: red;
    height: 400px;
    margin-left: 5px;
}
.two{
    background-color: #f6f7f6;
    padding: 35px 0;
    padding-bottom: 60px;
    display: flex;
}
.two1 h1{
    color: #5fcf80;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
}
.two1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.two1{
      margin-left: 73px;
      margin-right: 63px;
      background-color: #f6f7f6;
      height: 110px;
      padding-left: 35px;
      padding-top: 25px;
      font-size: 24px;
      font-weight: 700px;
      text-align: center;
}
.three{
    padding: 80px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.three4 i{
    padding-left: 6px;
}
.three4 a{
    color: white;
    border: 1px solid white;
    padding: 10px 36px;
    margin-left: 92px;
    border-radius: 30px;
    font-size: 17px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}
.three4 a:hover{
    color: #29cc61;
    background-color: white;
}
.three1{
    background-color: #5fcf80;
    color: white;
    height: 380px;
    font-size: 20px;
    padding: 20px;
    text-align:left;
}
.three1 h1{
    font-weight: 900;
}

.three3 .three2{
    border: 1px solid #eef0ef;
    height: 316px;
    text-align: center;
    padding: 40px;
}
.three-sub i{

    font-size: 32px;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px;
}
.four{
    padding: 0px 0px 60px 0px;
    display: flex;
    
}

.four a{
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    
}
.four1{
    height: 80px;
    border: 1px solid #eef0ef;
    margin-top: 20px;
    font-size: 20px;
    padding: 24px;
}
.four1:hover{
    border: 1px solid #29cc61;
}
.four1:hover a{
    color: #29cc61;
}
.fa-building-o{
    padding-right: 10px;
    color: yellow;
    font-size: 26px;
    font-weight: 900;
} 

.fa-bar-chart{
    padding-right: 10px;
    color: #5578ff;
    font-size: 26px;
    font-weight: 900;
} 

.fa-calendar{
    padding-right: 10px;
    color: #e80368;
    font-size: 26px;
    font-weight: 900;
} 

.fa-paint-brush{
    padding-right: 10px;
    color: #e361ff;
    font-size: 26px;
    font-weight: 900;
}
.fa-database{
    padding-right: 10px;
    color: #47aeff;
    font-size: 26px;
    font-weight: 900;
} 

.fa-crosshairs{
    padding-right: 10px;
    color: #ffa76e;
    font-size: 26px;
    font-weight: 900;
} 

.fa-file{
    padding-right: 10px;
    color: #11dbcf;
    font-size: 26px;
    font-weight: 900;
} 

.fa-tag{
    padding-right: 10px;
    color: #4233ff;
    font-size: 26px;
    font-weight: 900;
} 

.fa-anchor{
    padding-right: 10px;
    color: #b2904f;
    font-size: 26px;
    font-weight: 900;
} 

.fa-music{
    padding-right: 10px;
    color: #b20969;
    font-size: 26px;
    font-weight: 900;
} 

.fa-signal{
    padding-right: 10px;
    color: #ff5828;
    font-size: 26px;
    font-weight: 900;
} 

.fa-print{
    padding-right: 10px;
    color: #29cc61;
    font-size: 26px;
    font-weight: 900;
} 
.five{
    padding: 60px 0;
}
.fiveall{
    margin-left: -15px;
    margin-top: 10px;
    height: 50px;
}
.five-all1{
    height: 87px;
}
.five-all1 a{
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    font-weight: 600;
}
.five-all1 a:hover{
    color: #29cc61;
}
.five-all1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    padding-top: 10px;
}
.five-all1 p hr{
    color:#eef0ef;
}
.five-all2{
    padding: 10px;
    height: 100px;
}
.five-sub2 img{
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.five-sub{
    font-size: 11px;
    background: #5fcf80;
    padding:9px 14px;
    color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.five-sub1{
    font-family: 'Open Sans', sans-serif;
    padding-left: 89px;
    font-size: 15px;
}
.fiveall .five-sub5{
    font-size: 11px;
    background: #5fcf80;
    padding:9px 14px;
    color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.fiveall .five-sub6{
    font-family: 'Open Sans', sans-serif;
    padding-left: 187px;
    font-size: 15px;
}
.fiveall .five-sub7{
    font-size: 11px;
    background: #5fcf80;
    padding:9px 14px;
    color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.fiveall .five-sub8{
    font-family: 'Open Sans', sans-serif;
    padding-left: 187px;
    font-size: 15px;
}
.five1{
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.five1 h2::after{
    content: "";
    width: 130px;
    height: 1px;
    display: inline-block;
    background: #29cc61;
    margin: 4px 10px;
}
.five3 img{
    width: 100%;
}
.fiveall{
    display: flex;
}
.five-all2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.five-all2{
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.five-all2 h3{
    line-height: 66px;
    padding-left: 20px;
    color: #5a6c60;
    font-weight: 600;
}
.five-all2 .all3{
    line-height: 66px;
    padding-left: 20px;
    color: #5a6c60;
    font-weight: 600;
    padding-right: 29px;
}
.five-all2 .space{
    padding-left: 105px;
}
.space span{
    padding-right: 5px;
    font-weight: 300;
}
.five-all2 i{
    padding-right: 8px;
}
.five2{
    margin-top: 10px;
    height: 50px;
}
.five2 p{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}
.five3{
    margin-top: 40px;
    height: 516px;
    border: 1px solid #eef0ef;
}
.five4{
    margin-top: 100px;
    height: 600px;
    border: 1px solid #eef0ef;
}
.five4 img{
    width: 100%;
    height: 380px;
}
.five4-sub h3{
    padding-bottom: 10px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
.five4-sub h4{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
.five4-sub{
    text-align: center;
    padding: 11px 33px;
    font-size: 17px;
    color: #aaaaaa;
}

.five4-sub i{
    padding-left: 10px;
    font-size: 20px;
    color: #7e9486;
}
.five4-sub i:hover{
    color: #29cc61;
}
.six{
    background: #f9faf9;
    padding: 80px 0;
}
.six1{
    margin-top: -70px;
    height:200px;
    text-align: left;
    font-size: 16px;
    padding: 30px;
    font-family: "Raleway", sans-serif;
}
.six1 h3{
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}
.six1 p{
    font-family: "Raleway", sans-serif;
    color: #777777;
}
.six1 ul{
    list-style-type: none;
}
.six1 li{
    padding-top: 15px;
    
}
.six1 li a{
    text-decoration: none;
    color: #000;
    font-family: "Raleway", sans-serif;
    color: #777777;
}
.six1 a:hover{
    color: #29cc61;
}
.six1 i{
    color: #29cc61;
    padding-right: 8px;
}
.six2{
    margin-top: -11px;
    height:200px;
    font-family: "Raleway", sans-serif;
}
.six2 h3{
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}
.six2 p{
    font-family: "Raleway", sans-serif;
    color: #777777;
}
.six2 a{
   
    color: white;
    background-color: #29cc61;
    border: 1px solid #29cc61;
    border-radius: 20px;
    padding: 0 14px;
    margin-left: -36px;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 8px;
}
.six2 input{
    border: 1px solid #eef0ef;
    border-radius: 20px;
    padding: 9px 25px;
}
.seven{
    background: #eef0ef;
    padding: 8px 0;
    font-family: 'Open Sans', sans-serif;
    
}
.seven1{
    height: 80px;
    background: #eef0ef;
    padding: 20px;
}
.seven1 a{
    color: #29cc61;
    text-decoration: none;
    
}
.seven2{
    padding-left: 356px;
}

.seven2 i{
    color: white;
    width: 40px;
    height: 40px;
    background-color: #29cc61;
    border: 1px solid #29cc61;
    border-radius: 50%;
    padding: 11px 12px;
    margin-left: 10px;

}
.seven .flex-container{
    justify-content: space-between;
}